streamlit==1.32.2
jieba==0.42.1
pyecharts==2.0.3
streamlit-echarts==0.4.0
requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.2.1
matplotlib==3.8.3
numpy==1.26.4
glob2==0.7
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
